  #spinner{
    width:100px;
    height:100px;
    background:url(https://i.hizliresim.com/rJJNm3.png);
    background-size:100%;
    position:fixed;
    animation:animasyon 1s linear infinite;
  }
  @keyframes animasyon{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
  }
  